h1{
    font-size: 24px;
    color: red;
    font-weight: bold;
    font-style: oblique;
}
h2{
    font-size: 20px;
    color: #0000ff;
    font-weight: bold;
}
h3{
    font-size: 16px;
    color: teal;
    font-weight: bold;
}
p{
    color: #4D4D4D;
}

.eerste {
    font-weight: bold;
    color: white;
}
a{
    color:#8A2BE2;
    text-decoration: none;
}
header{
    height: 34vh;
    background-image: url(img/background1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
img{
    width: 50vw;
}
article{
    border-radius: 10px;
    border-style: dashed;
    border-color: green;
    border-width: 3px 3px 3px 5px;
}